<footer class="footer">
  <div class="footer__inner">
    <div class="copyright copyright--user">
      <p>Matija Sirk © {{ now.Year }}</p>

      <p>--</p>

      <p>
        > Raba kode na strani dovoljena pod licenco
        <a href="https://www.gnu.org/licenses/gpl-3.0.html"
          >GPL verzije 3 ali kasnejšo.</a
        >
      </p>

      <p>
        > Reprodukcija teksta dovoljenja pod licenco
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
          >CC BY-NC-SA 4.0.</a
        >
      </p>

      <p>--</p>

      <div class="theme-by">
        <p>
          Powered by <a href="https://gohugo.io">Hugo</a>

          ::
          <a href="https://github.com/panr/hugo-theme-terminal" target="_blank"
            >Theme</a
          >
          made by
          <a href="https://github.com/panr" target="_blank">panr</a>.
        </p>
      </div>
    </div>
  </div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }} {{ $prism := resources.Get
"js/prism.js" | js.Build }} {{ $bundle := slice $menu $prism | resources.Concat
"bundle.js" | resources.Minify }}

<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
