{{- $options := dict "targetPath" "js/bundle.js" -}} {{- $jsBundle :=
resources.Get "js/chessviewer.js" | js.Build $options | resources.Minify |
fingerprint -}}

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="{{ if .IsHome }}{{ $.Site.Params.Subtitle }}{{ else if .Description}}{{ .Description | plainify }}{{ else }}{{ .Summary | plainify }}{{ end }}"
/>
<meta name="keywords" content="{{ with .Params.Keywords }}{{ delimit . ", " }}{{
else }}{{ $.Site.Params.Keywords }}{{ end }}" /> {{ if .Params.noindex }} {{ if
or (eq (.Param "noindex") true) (eq (.Param "noindex") "true") }}
<meta name="robots" content="noindex" />
{{ end }} {{ else }}
<meta name="robots" content="noodp" />
{{ end }}
<link rel="canonical" href="{{ .Permalink }}" />

{{ template "_internal/google_analytics.html" . }} {{ $defaultStyles :=
resources.Get "css/style.scss" }}
<!-- Local Theme Variables -->
{{ if and (isset .Params "color") (not (eq .Params.color "")) }} {{
$localColorCss := resources.Get (printf "css/color/%s.scss" .Params.color) }} {{
$localCss := slice $localColorCss $defaultStyles | resources.Concat (printf
"css/%s-local.scss" .Params.color) }} {{ $localColorStyles := $localCss |
resources.ToCSS }}
<link rel="stylesheet" href="{{ $localColorStyles.Permalink }}" />
{{ else }}
<!-- Theme Variables -->
{{ $colorCss := resources.Get (printf "css/color/%s.scss"
($.Site.Params.ThemeColor | default "orange")) }} {{ $css := slice $colorCss
$defaultStyles | resources.Concat "css/base.scss" }} {{ $options := (dict
"targetPath" "styles.css" "outputStyle" "compressed" "enableSourceMap" true
"precision" 6 "includePaths" (slice "node_modules")) }} {{ $styles := $css |
resources.ToCSS $options }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" />
{{ end }}

<!-- Custom CSS to override theme properties (/static/style.css) -->
{{ if (fileExists "static/style.css") -}} <link rel="stylesheet" href="{{
"style.css" | absURL }}"> {{- end }}

<!-- Icons -->
{{ if isset $.Site.Params "favicon" }}
<link rel="shortcut icon" href="{{ $.Site.Params.favicon | absURL }}" />
{{ else }} <link rel="shortcut icon" href="{{ printf "img/theme-colors/%s.png"
(or .Params.color $.Site.Params.ThemeColor | default "orange") | absURL }}">
<link rel="apple-touch-icon" href="{{ printf "img/theme-colors/%s.png" (or
.Params.color $.Site.Params.ThemeColor | default "orange") | absURL }}"> {{ end
}}

<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
{{ if (isset $.Site.Params "twitter") }} {{ if (isset $.Site.Params.Twitter
"site") }}
<meta name="twitter:site" content="{{ $.Site.Params.Twitter.site }}" />
{{ end }} <meta name="twitter:creator" content="{{ if .IsHome }}{{
$.Site.Params.Twitter.creator }}{{ else if isset .Params "authortwitter" }}{{
.Params.authorTwitter }}{{ else }}{{ .Params.Author }}{{ end }}" /> {{ end }}

<!-- OG data -->
<meta property="og:locale" content="{{ $.Site.Language.Lang }}" />
<meta
  property="og:type"
  content="{{ if .IsPage }}article{{ else }}website{{ end }}"
/>
<meta
  property="og:title"
  content="{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }}{{ end }}"
/>
<meta
  property="og:description"
  content="{{ if .IsHome }}{{ $.Site.Params.Subtitle }}{{ else if .Description}}{{ .Description | plainify }}{{ else }}{{ .Summary | plainify }}{{ end }}"
/>
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ $.Site.Title }}" />
{{ if (isset .Params "cover") }} {{ $pageCover := .Param "cover" }} {{ with
(.Resources.GetMatch (.Param "cover")) }} {{ $pageCover = .RelPermalink }} {{
end }}
<meta property="og:image" content="{{ $pageCover | absURL }}" />
{{ else }} {{ if isset $.Site.Params "favicon" }}
<meta property="og:image" content="{{ $.Site.Params.favicon | absURL }}" />
{{ else }} <meta property="og:image" content="{{ printf "img/favicon/%s.png"
$.Site.Params.ThemeColor | absURL }}"> {{ end }} {{ end }}
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="627" />
{{ range .Params.categories }}
<meta property="article:section" content="{{ . }}" />
{{ end }} {{ if isset .Params "date" }}
<meta property="article:published_time" content="{{ time .Date }}" />
{{ end }}

<!-- RSS -->
{{ with .OutputFormats.Get "RSS" }}
<link
  href="{{ .RelPermalink }}"
  rel="alternate"
  type="application/rss+xml"
  title="{{ $.Site.Title }}"
/>
{{ end }}

<!-- JSON Feed -->
{{ with .OutputFormats.Get "json" }}
<link
  href="{{ .RelPermalink }}"
  rel="alternate"
  type="application/json"
  title="{{ $.Site.Title }}"
/>
{{ end }}

<!-- Extended head section-->
{{ partial "extended_head.html" . }}

<!-- Load custom scripts. - MS-->
<script
  src="{{ $jsBundle.RelPermalink }}"
  integrity="{{ $jsBundle.Data.Integrity }}"
  defer
></script>

<link rel="stylesheet" type="text/css" href="/lichess-pgn-viewer.css" />
<link rel="stylesheet" type="text/css" href="/overrides.css" />
