body {
  --board-color: lightslategray;
}

.footer .copyright p {
  margin: 0;
  text-align: left;
}

.footer .copyright span {
  margin: 0;
  text-align: left;
}

.footer .copyright {
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
